body{
  text-align: center;
}

div{
  height: 100px;
  width: 180px;
  display: inline-block;
  border: 2px solid black;
}

#container{
  height: 400px;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box1{
  background-color: aqua;
}

#box2{
  background-color: rebeccapurple;
}

#box3{
  background-color: greenyellow;
}

#box4{
  background-color: palegreen;
}

#box5{
  background-color: blueviolet;
}

#box6{
  background-color: rgb(204, 115, 7);
}