

.loader{
  margin-top: 40vh;
  margin-left: 40vw;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 10px solid gray;
  border-top: 10px solid black;
  animation: spinAnimated 3s ease-in 0s infinite normal;
}

@keyframes spinAnimated{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

/* @keyframes spin{
  0%{
    border: 10px solid gray;
    border-top: 10px solid black;
  }
  25%{
    border: 10px solid gray;
    border-right: 10px solid black;
  }
  75%{
    border: 10px solid gray;
    border-bottom: 10px solid black;
  }
  100%{
    border: 10px solid gray;
    border-left: 10px solid black;
  }
} */